<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Pulse</string>
	<key>CFBundleName</key>
	<string>Pulse</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>14.4</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos of events.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos for events.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Poppins-Light.ttf</string>
		<string>Fonts/Poppins-Medium.ttf</string>
		<string>Fonts/Poppins-SemiBold.ttf</string>
		<string>Fonts/Poppins-Regular.ttf</string>
		<string>Fonts/Poppins-ExtraLight.ttf</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Xamarin.Auth Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.netsol.pulse.oauth.providers.ios</string>
				<string>fb826805037527758</string>
				<string>xamarin-auth</string>
				<string>com.googleusercontent.apps.335441009882-sqr82mhsikpecsukt4qfh7pfa7lduv8i</string>
				<string>pulseapp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphone is required for video recording</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>required media library</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>need access</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access to view events happening around you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow location access to view events happening around you</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App needs access to calendar</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow location access to view events happening around you</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow location access to view events happening around you</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>app.pulse.com</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to contacts to pick a contact and get info.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>3.9</string>
	<key>CFBundleVersion</key>
	<string>21</string>
</dict>
</plist>
